.row {
  padding: 10px 0 20px;
}
.bordered {
	 margin-top:10px;
    padding: 20px;
    outline: 2px solid #ccc;
    outline-color: #7b8287;
    outline-offset: -10px;
    -moz-outline-radius: 10px;
    -webkit-outline-radius: 10px;
}
.edit-profile-btn {
	width:200px;
	margin:0 auto;
	display: block;
  background: #c4c4c4;
  background-image: -webkit-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -moz-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -ms-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -o-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: linear-gradient(to bottom, #c4c4c4, #5c5c5c);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px;
  text-decoration: none;
}

.edit-profile-btn:hover {
  background: #c4c4c4;
  text-decoration: none;
}
.project-page-btn {
  width:150px;
  margin:0 auto;
  display: block;
  background: #c4c4c4;
  background-image: -webkit-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -moz-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -ms-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -o-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: linear-gradient(to bottom, #c4c4c4, #5c5c5c);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 20px;
  text-decoration: none;
}

.edit-profile-btn:hover {
  background: #c4c4c4;
  text-decoration: none;
}
.profile-pic {
  max-width: 240px;
  height: auto;
}
.guide-block {
  margin-bottom: 20px;
  border-radius: 5px;
  background: rgba(222,222,222,0.2);
}
.guide-block h4, .guide-block p {
  padding: 5px;
}
