#5DA9CC.row {
  padding: 10px 0 20px;
}
body{
  font-size: 1.5rem;
}
h4 {
  font-size: 16px; 
}
.header{
  background-color: #DAD8D8;
  margin-bottom:30px;
  padding: 10px 0;
}
.header h3{
  margin-top: 5px;
  padding-left: 20px;
}
.bordered {
  border: 1px solid #9A9696;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.edit-profile-btn {
	width:200px;
	margin:0 auto;
	display: block;
  background: #DAD8D8;
  background-image: -webkit-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -moz-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -ms-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -o-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: linear-gradient(to bottom, #c4c4c4, #5c5c5c);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px;
  text-decoration: none;
}

.edit-profile-btn:hover {
  background: #c4c4c4;
  text-decoration: none;
}
.project-page-btn {
  width:130px;
  margin:0 auto;
  display: block;
  background: #c4c4c4;
  background-image: -webkit-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -moz-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -ms-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: -o-linear-gradient(top, #c4c4c4, #5c5c5c);
  background-image: linear-gradient(to bottom, #c4c4c4, #5c5c5c);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 20px;
  text-decoration: none;
}

.edit-profile-btn:hover {
  background: #c4c4c4;
  text-decoration: none;
}
.profile-pic {
  width: auto;
  height: 140px;
  margin: 0 auto;
}
.guide-block {
  margin-bottom: 20px;
  border-radius: 5px;
  background: rgba(222,222,222,0.2);
}
.guide-block h4, .guide-block p {
  padding: 5px;
}

.header a {
  color: #797171
}
p {
  margin:10px 0;
}
#main .nav-pills>li.active>a {
  background-color: rgb(220,220,220);
  color: #FFFFFF
}
#main .nav-pills>li.active>a {
  background-color: #A2A1A1;
  color: #FFFFFF;
}
